<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='w3.css') }}">
  <!-- Fallback for local testing -->
  <link rel="stylesheet" href="../static/w3.css">
  <title>DMX-Controller</title>
  
  <script src="../static/js/toggleFullscreen.js"></script>
  <script>
    function openTab(evt, tabName) {
      sessionStorage.setItem('activeTab', tabName);
      var i, x, tablinks;
      x = document.getElementsByClassName("tab");
      for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace("w3-white", " ");
      }
      document.getElementById(tabName).style.display = "block";
      //console.log("tablink_" + tabName);
      document.getElementById("tablink_" + tabName).className += " w3-white";
    }

    function reloadSliders(){
      var form_div = document.getElementById('sliders');
      var set_div = document.getElementById("controls_main");
      current = sessionStorage.getItem('fullscreen');
      adresses = "{{ ", ".join(adresses) }}".split(", ").map(Number);
      form_div.innerHTML = "";
      for (pos=0;pos<=16;pos++){
        dmx = sessionStorage.getItem('slider_' + pos);
        if (dmx != null){
          var form = document.createElement("form");
          form.setAttribute('class', "w3-form w3-padding");
          form.setAttribute('id', 'slider_' + pos);
          form.setAttribute('style', "display:inline-block");
          var i = document.createElement("input"); //input element, text
          i.setAttribute('type',"range");
          i.setAttribute('max', 255);
          i.setAttribute('min', 0);
          i.setAttribute('name',"value");
          i.setAttribute('onchange', "sendData(this.parentElement, '{{ url_for('set') }}')");
          if (current == 1){
            i.setAttribute('style', "height:400px;")
          }
          i.setAttribute('orient', "vertical");
          i.setAttribute('value', adresses[dmx])
          i.setAttribute('class', "w3-input w3-round w3-border w3-border-orange");

          var s = document.createElement("input");
          s.setAttribute('type', "hidden");
          s.setAttribute('name', "dmx");
          s.setAttribute('value', dmx);

          var d = document.createElement("label");
          d.innerHTML = dmx;

          var p = document.createElement("label");
          channels = "{{ ", ".join(channels) }}";
          //console.log(channels);
          channels = channels.split(", ");
          //console.log(channels);
          name = "";
          group = "";
          name = channels[dmx].split(" | ")[1];
          group = channels[dmx].split(" | ")[0];
          //console.log(name);
          if (name == "Brightness") name="&#9728";
          if (name == "Tilt") name="&#8597";
          if (name == "Pan") name="&#8596";
          p.innerHTML = name;

          form.appendChild(d);
          form.appendChild(i);
          form.appendChild(s);
          form.appendChild(p);
          form_div.appendChild(form);
      }
    }
    if (current == 1) {
      set_div.style.display = "none";
    } else {
      set_div.style.display = "block";
    }
    }

    function clearSliders(){
      window.sessionStorage.clear();

      reloadSliders();
    }

    function fullSliders(){
      current = sessionStorage.getItem('fullscreen');
      console.log(current);
      if (current == null || current == 0){
        sessionStorage.setItem('fullscreen', 1);
      } else{
        sessionStorage.setItem('fullscreen', 0);
      }
      reloadSliders();
    }

    function setSlider(){
      var dmx = parseInt(document.getElementById('sliders_dropdown').value);
      var pos = parseInt(document.getElementById('sliders_pos').value);
      if (pos != NaN){
        sessionStorage.setItem('slider_' + pos, dmx);
        document.getElementById('sliders_pos').value = pos + 1;
      }
      reloadSliders();
    }

    window.addEventListener("load", function(event) {
      //console.log("All resources finished loading!");
      activeTab = sessionStorage.getItem('activeTab');
      if (activeTab == null || activeTab == "null"){
        activeTab = 'Home';
      }
      console.log("activeTab now:" + activeTab);
      openTab(event, activeTab);
      reloadSliders();
    });

    function sendData(element, send_url){
      data = new FormData(element).entries();
      new_url = send_url.substr(1) + "?";
      for (var pair of data) {
        //console.log(pair[0]+ ', ' + pair[1]);
        if (pair[0] == "color") pair[1] = encodeURIComponent(pair[1]);
        new_url = (new_url + pair[0] + "=" + pair[1] + "&");
      }
      new_url = new_url.slice(0, -1);
      console.log(new_url);
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", new_url, false);
      xhttp.send()
    }
  </script>

  <style>
    input[type=range][orient=vertical]
    {
        writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* WebKit */
        width: 8px;
        height: 175px;
        padding: 0 5px;
    }
  </style>
</head>
<body>
  <div class="w3-orange">
    <h1>DMX-Controller</h1>
    <div class="right" style="text-align: right;">
      <font>&harr;</font>
      <button id="btnFullscreen" type="button">&harr;</button>
      <img alt="FSG DMX" src="../static/img/logo_basic.png" width="200px">
    </div>
    <div class="w3-bar">
      <button id="tablink_Home" class="w3-bar-item w3-button tablink w3-white" style="border-radius: 3px 3px 0px 0px" onclick="openTab(event, 'Home')">Home</button>
      <button id="tablink_Setup" class="w3-bar-item w3-button tablink" style="border-radius: 3px 3px 0px 0px" onclick="openTab(event, 'Setup')">Setup</button>
      <button id="tablink_Storage" class="w3-bar-item w3-button tablink" style="border-radius: 3px 3px 0px 0px" onclick="openTab(event, 'Storage')">Storage</button>
    </div>
  </div>
  <div class="tab" id="Home">
    <div id="controls_main" style="width:100%;">
      <div class="w3-mobile w3-quarter">
        <div class="w3-padding">
          Color:
        </div>
        <form class="w3-form w3-padding">
          <input type="number" class="w3-half w3-input w3-round w3-border w3-border-orange" name="dmx" value="0" min="0" max="512">
          <input class="w3-half w3-input w3-round w3-border w3-border-orange" type="color" name="color" onchange="sendData(this.parentElement, '{{ url_for('set') }}')" style="height:42px">
        </form>
      </div>
      <div class="w3-quarter w3-mobile">
        <div class="w3-padding">
          View State:
        </div>
        <form class="w3-form w3-padding">
          <label class="label">Position:</label>
          <div class="select">
            <select class="w3-select w3-round w3-border w3-border-orange" name="position">
              {% for value in states %}
              <option value= "{{states.index(value)}}">{{states.index(value)}} - '{{value["name"]}}'</option>"
              {% endfor %}
            </select>
          </div>
          <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange w3-margin"  onclick="sendData(this.parentElement, '{{ url_for('view_state') }}')">Send</button>
        </form>
      </div>
      <div class="w3-mobile w3-col" style="width:100%">
        <div class="w3-padding">
          Setup Sliders:
        </div>
        <form class="w3-form w3-padding" onsubmit="setSlider()">
          <input type="number" class="w3-select w3-round w3-border w3-border-orange" id="sliders_pos" value="0" min="0" max="16">
          <select class="w3-select w3-round w3-border w3-border-orange" id="sliders_dropdown" onchange="setSlider()">
            <option value="" disabled selected>Choose your option</option>
            {% for i in range(513) %}
            <option value= "{{ i }}">{{ i }} - {{channels[i]}}</option>"
            {% endfor %}
          </select>
        </form>
        <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange w3-margin" onclick="clearSliders()">Clear</button>
        <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange w3-margin" onclick="reloadSliders()">Reload</button>
      </div>
      </div>
      <div id="sliders" onload="reloadSliders()" style="width:100%;">
      </div>
      <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange w3-margin" onclick="fullSliders()">Fullscreen</button>
  </div>
  <div class="tab" id='Setup' style="display:none">
    <div class="w3-mobile w3-half">
      <div class="w3-padding">
        Test:
      </div>
      <form class="w3-form w3-padding">
        <label>DMX:</label>
        <input class="w3-input w3-round w3-border w3-border-orange" type="number" min="0" max="512" value="0" name="dmx">
        <label>Value:</label>
        <input class="w3-input w3-round w3-border w3-border-orange" type="range" min="0" max="255" name="value" onchange="sendData(this.parentElement, '{{ url_for('set') }}')">
      </form>
    </div>
    <div class="w3-mobile w3-half">
      <div class="w3-padding">
        Setup:
      </div>
      <form class=" w3-padding w3-form">
        <label class="label">DMX:</label>
        <input class="w3-input w3-round w3-border w3-border-orange" type="number" min="-1" max="512" placeholder="-1 for auto" value="-1" name="dmx">
        <label class="label">Type:</label>
        <select class="w3-select w3-round w3-border w3-border-orange" name="type">
          {% for option in options %}
          <option value= "{{option}}">{{option}}</option>"
          {% endfor %}
        </select>
        <label>Overwrite? <input class="checkbox" type="checkbox" name="force" value="1"> Yes</label>
        <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange w3-margin" onclick="sendData(this.parentElement, '{{ url_for('setup') }}')">Send</button>
      </form>
    </div>
    <div class="w3-mobile">
      <div class="w3-padding">
        New Light:
      </div>
      <form class="w3-padding w3-form">
        <label>Name:</label>
        <input class="w3-input w3-round w3-border w3-border-orange" type="text" name="name">
        <label>Channels (',' seperated)</label>
        <input class="w3-input w3-round w3-border w3-border-orange" type="text" name="channels" placeholder="Brightness,R,G,B,Shutter,Pan,Tilt">
        <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange w3-margin" onclick="sendData(this.parentElement, '{{ url_for('new_light') }}')">Create</button>
      </form>
    </div>
  </div>
  <div class="tab" id="Storage" style="display:none">
    <div class="w3-half w3-mobile">
      <div class="w3-padding">
        Store State:
      </div>
      <form class="w3-form w3-padding">
        <label class="label">Name:</label>
        <input class="w3-input w3-round w3-border w3-border-orange" type="text" name="name">
        <label class="label">DMX-Adresses:</label>
        <input class="w3-input w3-round w3-border w3-border-orange" type="text" hint="1,2,3,4,..." name="dmxes">
        <label class="label">Position</label>
        <input class="w3-input w3-round w3-border w3-border-orange" type="number" name="position" value="-1">
        <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange w3-margin" onclick="sendData(this.parentElement, '{{ url_for('store_state') }}')">Send</button>
      </form>
    </div>
    <div class="w3-half w3-mobile">
      <div class="w3-padding">
        Store State:
      </div>
      <form class="w3-form w3-padding" style="display:inline-block">
        <input class="w3-input w3-round w3-border w3-border-orange" value="book.json" type="text" name="filename">
        <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange" onclick="sendData(this.parentElement, '{{ url_for('save') }}')">Save</button>
      </form>
      <form class="w3-form w3-padding" style="display:inline-block">
        <input class="w3-input w3-round w3-border w3-border-orange" value="book.json" type="text" name="filename">
        <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange" onclick="sendData(this.parentElement, '{{ url_for('load') }}')">Load</button>
      </form>
    </div>
    <div class="w3-half w3-mobile">
      <div class="w3-padding">
        Delete State:
      </div>
      <form class="w3-form w3-padding">
        <label class="label">Position:</label>
        <div class="select">
          <select class="w3-select w3-round w3-border w3-border-orange" name="position">
            {% for value in states %}
            <option value= "{{states.index(value)}}">{{states.index(value)}} - '{{value["name"]}}'</option>"
            {% endfor %}
          </select>
        </div>
        <button class="w3-button w3-white w3-round w3-border-orange w3-border w3-hover-orange w3-margin" onclick="sendData(this.parentElement, '{{ url_for('delete_state') }}')">Delete</button>
      </form>
    </div>
  </div>
</body>
</html>
